<footer>
  <div class="conteiner2">
      <ul class="footer1"> Company
          <li class="footer2">
              <a class="footer3"  href="#">Home</a>
          </li>
          <li class="footer2">
                <a class="footer3" href="#">Shop</a>
          </li>
          <li>
                <a class="footer3"  href="#">Blog</a>
          </li class="footer2">
          <li>
                <a class="footer3" href="#">Pages</a>
          </li class="footer2">
          <li>
                <a class="footer3" href="#">Contacts</a>
          </li>

      </ul>
      <ul class="footer1"> Company
            <li class="footer2">
                <a class="footer3"  href="#">Home</a>
            </li>
            <li class="footer2">
                  <a class="footer3" href="#">Shop</a>
            </li>
            <li>
                  <a class="footer3"  href="#">Blog</a>
            </li class="footer2">
            <li>
                  <a class="footer3" href="#">Pages</a>
            </li class="footer2">
            <li>
                  <a class="footer3" href="#">Contacts</a>
            </li>
  
        </ul>
        <ul class="footer1"> Company
                <li class="footer2">
                    <a class="footer3"  href="#">Home</a>
                </li>
                <li class="footer2">
                      <a class="footer3" href="#">Shop</a>
                </li>
                <li>
                      <a class="footer3"  href="#">Blog</a>
                </li class="footer2">
                <li>
                      <a class="footer3" href="#">Pages</a>
                </li class="footer2">
                <li>
                      <a class="footer3" href="#">Contacts</a>
                </li>
      
            </ul>
            <ul class="footer1"> Company
                    <li class="footer2">
                        <a class="footer3"  href="#">Home</a>
                    </li>
                    <li class="footer2">
                          <a class="footer3" href="#">Shop</a>
                    </li>
                    <li>
                          <a class="footer3"  href="#">Blog</a>
                    </li class="footer2">
                    <li>
                          <a class="footer3" href="#">Pages</a>
                    </li class="footer2">
                    <li>
                          <a class="footer3" href="#">Contacts</a>
                    </li>
          
                </ul>
  </div>
  <div class="end">
      <p class="end1">Copyright 2019 Vstarcam By Sarvar</p>
  </div>

      
</footer>