body{
        width: 100%;
        background-color: white;
        position: sticky;
        margin-left:0;
  }
.pictures{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-image: radial-gradient(rgb(52, 157, 226), rgb(44, 75, 214));
      position: relative;
      top:-20px;
  }
  .pictures1{
      position: relative;
      top:60px;
  }
  .button2{
      text-decoration: none;
      color: white;
      font-size: 18px;
      background-color: lightskyblue;
      padding: 14px 32px;
      border-radius: 38px;
  }
  .pictures2{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: relative;
      margin-top:50px;
  }
  .picture3{
      background-color: whitesmoke;
  }
  .picture3:hover{
      border:1px solid black;
  }
  .conteiner{
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      position: relative;
      margin-bottom: 55px;
  }
  .column{
      display: flex;
      flex-direction: column;
  }
  .banner{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-top: 60px;
      background-color: rgb(35, 218, 224);
  }
  .buttons{
      text-decoration: none;
      color: white;
      background-color: rgb(63, 63, 223);
      padding: 15px 40px;
      border-radius: 38px;
      justify-content: center;
    }
  .column1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
  .text{
    text-align: center;
    position:relative;
    margin-left:30px;
    margin-right:3s0px;
    border-top:3px solid blue; 
    line-height:35px;padding: 20px;
  }