body{
        background-color: white;
  }
  *,::after,::before{
      box-sizing: border-box;
      margin: 0;
  }
.pictures{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-image: radial-gradient(rgb(52, 157, 226), rgb(44, 75, 214));
      position: relative;
      top:-20px;
  }
  .pictures1{
      position: relative;
      top:30px;
  }
  .button2{
      text-decoration: none;
      color: white;
      font-size: 18px;
      background-color: lightskyblue;
      padding: 14px 32px;
      border-radius: 38px;
      line-height: 100px;
  }
  .pictures2{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap:wrap;
      position: relative;
      margin-top:50px;
  }
  .picture3{
      background-color: whitesmoke;
  }
  .picture3:hover{
      border:1px solid black;
  }
  .p3{
    font-size:30px;
  }
  .p4{
    font-size:50px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .p5{
    letter-spacing: 1px;
  }
  .conteiner{
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      flex-wrap: wrap;
      position: relative;
      margin-bottom: 55px;
  }
  .column{
      display: flex;
      flex-direction: column;
  }
  .banner{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-top: 60px;
      background-color: rgb(35, 218, 224);
  }
  .buttons{
      text-decoration: none;
      color: white;
      background-color: rgb(63, 63, 223);
      padding: 15px 40px;
      border-radius: 38px;
      justify-content: center;
    }
  .column1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
  .text{
    text-align: center;
    position:relative;
    margin-left:30px;
    margin-right:3s0px;
    border-top:3px solid blue; 
    line-height:35px;padding: 20px;
  }
  @media only screen and (max-width:800px){ 
      .pictures1,.picture3, .picture4{
          text-align: center;
          width: 100%;
          height: auto;
      }
      .p3,.p4{
          position: relative;
          top: 20px;
          font-size: 15px;
      }
      .p5{
          font-size: 10px;
          letter-spacing: none;
      }
      .p6{
          display: none;
      }
      .buttons{
          display: none;
      }
      .button2{
          padding: 7px 10px;
          font-size: 12px;
          line-height: 50px;
      }
      .pictures1{
          position: relative;
          top:15px;
      }
  
}