<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% include menu.html %}
    <div class="body-1">
      <div class="pictures">
            <img class="pictures1" src="assets\images\first_cam.png" width="600" height="700">
            <div class="p2">
              <h2 class="p3" >
                Shop is fun
              </h2><br>
              <h1 class="p4">
                BROWSE OUR<br>PREMIUM PRODUCT<br>
              </h1><br>
            <p class="p2" style="color:white"><br>
              Us which over of signs divide dominion<br>
              deep fill bring they're meat beho upn own<br>
              earth without morning over third.Their male dry<br>
              They are great appear whose land fly grass.<br>
            </p>
            <a href="#" class="button2">
                Browse Now
              </a> 
            
            </div>
         
            </div>
          <div class="pictures2">
                  <img class="picture3" src="assets\images\blok_1.png" >
                  <img class="picture3" src="assets\images\blok_2.png" >
                  <img class="picture3" src="assets\images\blok_3.png" >
            </div>
            <div >
              <p class="text-2">Popular item in the market<br><span style="font-size: 35px;"><b>Trending <span style="border-bottom:2px solid blue ;">Product</span></b></span></p>
            </div>
            <div class="conteiner">
              <div class="column">
                  <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                  <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
              </div>
              <div class="column">
                  <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                  <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
              </div>
              <div class="column">
                  <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                  <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
              </div>
              <div class="column">
                  <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                  <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
              </div>
            </div>
            <div class="conteiner">
                <div class="column">
                    <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                    <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
                </div>
                <div class="column">
                    <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                    <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
                </div>
                <div class="column">
                    <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                    <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
                </div>
                <div class="column">
                    <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                    <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
                </div>
              </div>
      </div>
      <div class="banner">
        <div class="column1">
            <div class="p6" >
              <h2 class="p7">Up To 50% Off</h2><br>
              <h3 class="p8">Winter Sale</h3><br>
              <p class="p9">Him she'd let them sixth saw light</p><br><br><br><b></b>
              <a href="#" class="buttons">Shop Now</a>
        </div>
        </div>
          <img class="picture4" src="assets\images\photo_cam.png" width="580" height="350">
      </div>
      <div >
          <p class="text-2">Popular item in the market<br><span style="font-size: 35px;"><b>Best <span style="border-bottom:2px solid blue ;">Sellers</span></b></span></p>
        </div>
        <div class="conteiner">
            <div class="column">
                <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
            </div>
            <div class="column">
                <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
            </div>
            <div class="column">
                <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                <p style="text-align: center;">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
            </div>
            <div class="column">
                <div style="background-color: whitesmoke; padding: 110px 90px;">Picture</div>
                <p style="text-align: center; ">Accessories<br><span style="font-size: 15px;font-family:fantasy">Quartz Belt Watch</span><br>$150.00</p>
                
              </div>
          </div>
          <p class="text">Shenzhen VStarcam Technology Co., Ltd, is a national High-Tech enterprise, integrates development, production, and sales, products mainly covering video surveillance, smart home, and intelligent security, has become the leading supplier of the rapid growing network intelligent hardware and system.

              VStarcam was founded in 2011, headquartered in Shenzhen. Products and solutions have been widely applied in more than 190 countries, has built a strong R&D, marketing and service network both domestically and worldwide.
              
              VStarcam aims to become the guardian of human security core strength.
              Yesterday, VStarcam create excellence!
              Today, VStarcam beyond dreams!</p>
            {% include footer.html %}
  </body>
</html>
